body {
  background-color: #202023;
}
nav {
  display: flex;
  justify-content: space-between;
  height: 56px;
  align-items: center;
}
.LightModeIcon {
  width: 40px;
  height: 40px;
  background: #fbd38d;
  border: 0;
  border-radius: 5px;
}
.LightModeIcon:hover {
  background: #f5ac55;
  cursor: pointer;
}
a {
  text-decoration: inherit;
}
.Navbar {
  display: flex;
  height: 56px;
  align-items: center;
}

.name {
  color: #ffffffeb;
  font-weight: bold;
  font-size: 18px;
  font-family: "M PLUS Rounded 1c";
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 30px;
  line-height: 20px;
  padding: 10px;
  cursor: pointer;
}
.name:hover .Icon {
  transform: rotateZ(0deg);
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  transition: 0.2s ease;
  cursor: pointer;
}

.navBar1 {
  color: #ffffffeb;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 30px;
  line-height: 20px;
  padding: 10px;
}
.navBar1:hover {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-color: rgb(180, 174, 164);
}
.Icon {
  transform: rotate(-25deg);
}
GitHubIcon {
  font-size: small;
}
.Source {
  display: flex;
  height: 56px;
  align-items: center;
}

/* Home page CSS*/
.introduction {
  display: flex;
  flex-direction: row;
}

.intro {
  background-color: #ffffff14;
  color: #ffffffeb;
  height: 48px;
  width: 572px;
  border-radius: 10px;
  font-size: 16px;
  display: grid;
  place-items: center;
}
.intro-intro {
  font-size: 36px;
  font-family: "M Plus Rounded 1c";
  color: #ffffffeb;
  width: 449px;
  margin: 0;
}
.intro-intro-intro {
  margin: 0;
  font-size: 16px;
  color: #ffffffeb;
  width: 449px;
}

.circle-pfp {
  border-radius: 50px;
  width: 100px;
  height: 100px;
}

.header3 {
  color: #ffffffeb;
  text-decoration: underline;
  font-size: 20px;
  font-family: "M PLUS Rounded 1c";
  text-decoration-color: rgb(180, 174, 164);
  font-weight: bold;
  text-underline-offset: 6px;
  text-decoration-thickness: 4px;
}

.text {
  color: #e8e6e3eb;
  font-size: 16px;
}

.HomePortfolioButton {
  border: 0;
  border-radius: 5px;
  background-color: #81e6d9;
  color: #1a202c;
  font-size: 16px;
  font-weight: 550;
  padding: 0px 16px;
  width: 147px;
  height: 40px;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
}

.HomePortfolioButton:hover {
  background-color: #81e6d9d9;
  cursor: pointer;
}
.link {
  color: #ff63c3;
  text-decoration: none;
}

.imgBorder {
  border-radius: 50px;
  width: 105px;
  height: 105px;
  background-color: #ffffffeb;
  display: grid;
  place-items: center;
}

.year {
  margin-right: 1em;
  font-weight: bold;
  color: #ffffffeb;
}

.web {
  display: flex;
  flex-direction: column;
}

.Socials {
  color: #81e6d9;
  font-size: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  padding: 0px 6px;
  height: 40px;
  width: 199px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}
.github {
  width: 133px;
  height: 40px;
}
.insta {
  height: 40px;
  width: 199px;
}

.Socials:hover {
  background-color: rgba(129, 230, 217, 0.1);
  text-decoration: underline;
  text-decoration-color: #ff63c3;
  color: white;
}

.finish {
  display: flex;
  justify-content: center;
  color: #ffffffeb;
  opacity: 0.2;
}

.also {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.borderwht {
  background: #fff;
  border-radius: 5px;
  width: 255px;
  height: 145px;
  display: grid;
  place-items: center;
}
.previewWindow-l {
  width: 250px;
  height: 140px;
  border-radius: 5px;
  background-color: #1f1f1f !important;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.previewWindow-r {
  width: 250px;
  height: 140px;
  border-radius: 5px;
  background-color: #fff;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.NameOfWindow {
  display: flex;
  justify-content: center;
  color: #ffffffeb;
  font-size: 14px;
}
