body {
  margin: 0px;
  padding: 0px;
}

.Header {
  background-image: url(background.jpg);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
}
nav {
  font-family: Mulish sans-serif;
  display: flex;
  justify-content: space-evenly;
}

.l-nav {
  width: 87px;
  height: 60px;
  font-family: Mulish;
  font-weight: 800;
  font-size: 30px;
  line-height: 37.65px;
  text-align: center;
  color: #ffffff;
}
.r-nav {
  width: 68px;
  height: 28px;

  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

/*Main 1*/
.Main {
  background-color: #f5f5f5;
  width: 100vw;
  height: 100vh;
}
