.App {
  margin: 25px;
}

.top {
  display: flex;
  justify-content: flex-end;
}

.how {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  height: 44px;

  text-transform: uppercase;

  color: #02b589;
}

.login {
  background: #02b589;
  border-radius: 100px;
  width: 183px;
  height: 44px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-family: "Lobster";
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 70px;
  /* identical to box height */

  text-align: center;

  color: #02b589;
}
